<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<!-- this is header -->
<div th:fragment="header">
	<title th:attr="data-custom=#{thymeleaf.app.title}">Hello!</title>
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"
		rel="stylesheet" media="screen" />

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

	<link rel="stylesheet" th:href="@{/css/main.css}" />
</div>

</head>

<body>
	<div th:fragment="navbar" class="static-top">
		<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
			<a class="navbar-brand" th:href="@{/}">Hello! Welcome To
				"Somewhere"!</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>
					<li sec:autorize="hasName('ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/warehouse}">Warehouse</a>
					<!-- sec:authorize="isAuthenticated() -->
					</li>
					<!-- <li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="http://example.com"
						id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div></li> -->
				</ul>
				<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> -->
			</div>
		</nav>
	</div>
</body>
</html>